@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";

.cartwidget {
	color: white;
	cursor: pointer;
	@media (max-width: map-get($grid-breakpoints, lg)) {
		position: fixed;
		bottom: 0;
		right: 0;
		color: #000;
		margin-right: 0.75rem;
	}
	.badge {
		font-size: 0.7em;
		color: #000;
		border: 1px solid #000;
	}
}