.card-title, .price {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1.5px;
}
.card-img-top {
	transition: transform 0.3s ease-in-out;
}
.card {
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0.15rem 0.5rem rgb(0 0 0 / 15%);
	overflow: hidden;
	&.card:hover{
		border: 1px solid var(--bs-secondary);
		box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
		.card-img-top {
			transform: scale(1.06);
		}
	}
}
